body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout_header .nav_wrap .category_wrap .nav_category_all { margin-right:10px; }
.layout_header .top_banner_wrap {width:100%; background:require(../public/images/banner_top_bg.jpg) repeat-x top center; text-align:center; } /* ark */
